@tailwind base;
@tailwind components;
@tailwind utilities;

/* --background-end-rgb: 214, 219, 220; */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 120, 175, 120;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@layer components {
  .input {
    @apply border rounded-lg px-4 py-2 active:ring-primary active:outline-primary focus:ring-primary focus:outline-primary;
  }
  .btn {
    @apply rounded-xl px-4 py-2 bg-secondary text-white hover:cursor-pointer transition-all shadow-lg border border-secondary hover:from-green-700 hover:to-green-600 hover:border-secondary fade-in;
  }
  .btn-primary {
    @apply btn bg-gradient-radial from-green-600 to-green-500;
  }
  .btn-secondary {
    @apply btn bg-white text-primary border-secondary;
  }
  .btn-danger {
    @apply btn !border-red-500 !bg-red-500 hover:!bg-red-700 hover:!border-red-700;
  }

  .btn-disabled {
    @apply btn !bg-stone-300 !text-stone-500 !border-stone-300 hover:!bg-stone-300 hover:!border-stone-300 !cursor-not-allowed;
  }

  .masonry {
    column-count: 3;
    @apply gap-x-4;
  }

  .masonry-item {
    break-inside: avoid;
  }

  @keyframes singleBounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .singleBounce:hover {
    animation: singleBounce 1s;
    animation-iteration-count: 1;
  }
}
