@tailwind base;
@tailwind components;
@tailwind utilities;

/* --background-end-rgb: 214, 219, 220; */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 200, 255, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@layer components {
  .btn {
    @apply rounded-xl px-4 py-2 bg-primary text-white hover:cursor-pointer transition-all;
  }
  .btn-primary {
    @apply btn;
  }
}
